@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #191919;
    --foreground: #e6e6e6;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* Reset input, textarea. select */
input,
input:focus,
select:focus,
input.form-control:focus,
select,
textarea,
textarea:focus,
textarea.form-control:focus button {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  outline: 0 none !important;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-bold mb-2 text-center;
}

h1, h2, h3 {
  @apply text-orange-500;
}

p {
  @apply text-base text-pretty;
}

h1 {
  @apply text-5xl;
}

h2 {
  @apply text-4xl;
}

h3 {
  @apply text-3xl;
}

h4 {
  @apply text-xl;
}

h5 {
  @apply text-lg;
}

h6 {
  @apply text-sm;
}

.formgroup, .formgroup-checkbox {
  @apply relative py-1 mb-6 w-full;
}

.formgroup *, .formgroup-checkbox * {
  @apply transition-all ease-in-out duration-200;
}

.formgroup input, .formgroup select {
  @apply bg-transparent border border-orange-500/60 rounded-md px-4 py-3 text-base text-white w-full focus:border-orange-500;
}

.formgroup span {
  @apply absolute bg-neutral-950 left-4 top-5 px-2 text-xs text-orange-500/60;
}

.formgroup input:focus + span, .formgroup input:not(:placeholder-shown) + span,
.formgroup select:focus + span, .formgroup select:not(:placeholder-shown) + span {
  @apply top-[-0.2rem] bg-orange-950 text-white rounded-sm;
}

.formgroup input::placeholder, .formgroup select::placeholder {
  @apply text-neutral-950;
}

.formgroup select * {
  @apply bg-neutral-950 hover:bg-orange-500 hover:text-neutral-950 cursor-pointer;
}

.formgroup select option:checked, .formgroup select option:default, .formgroup select option.selected {
  @apply bg-orange-500 text-neutral-950;
}

.formgroup > p, .formgroup-checkbox > p {
  @apply text-xs absolute text-[#FF0000] mt-1 ml-1;
}

.formgroup-checkbox label {
  @apply flex items-start justify-start gap-x-3 pb-4;
}
.formgroup-checkbox div {
  @apply size-5 border border-orange-500 py-1;
}

.formgroup-checkbox span {
  @apply text-sm max-w-[85%] translate-y-[-0.3rem];
}

.formgroup-checkbox span > button {
  @apply text-xs underline ml-3;
}

.formgroup-checkbox p {
  @apply translate-y-[-1rem];
}

.btn {
  @apply py-2 px-6 rounded-sm transition-all duration-300;
}

.btn-primary, btn-secondary {
  @apply hover:shadow-md hover:shadow-orange-500/30;
}

.btn-primary {
  @apply bg-orange-500/75 text-white hover:bg-orange-500;
}

.btn-secondary {
  @apply border border-orange-500/75 text-orange-500/75 hover:text-orange-500 hover:border-orange-500;
}